<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4" defer></script>


    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ content_for_header
    }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    {% comment %} fontawesome link {% endcomment %}

    <script
      src="https://kit.fontawesome.com/f47aa481f0.js"
      crossorigin="anonymous"
      defer></script>

  </body>
</html>