<div class="w-8/12 mx-auto mt-16">

  <div class="collapse collapse-plus bg-base-100 border border-base-300">
    <input
      type="radio"
      name="my-accordion-3"
      checked="checked" />
    <div class="collapse-title font-semibold">{{ section.settings.accordion_header }}</div>
    <div class="collapse-content text-sm">{{ section.settings.accordion_content }}</div>
  </div>


  {% for block in section.blocks %}
    <div class="collapse collapse-plus bg-base-100 border border-base-300">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title font-semibold">{{ block.settings.accordion_header_2 }}</div>
      <div class="collapse-content text-sm">{{ block.settings.accordion_content_2 }}</div>
    </div>
  {% endfor %}


</div>


{% schema %}
  {
    "name": "Accordion List",
    "settings": [
      {
        "type": "text",
        "id": "accordion_header",
        "label": "Accordion Header",
        "default": "Accordion List"
      },
      {
        "type": "richtext",
        "id": "accordion_content",
        "label": "Accordion Header",
        "default": "<p>Click the button in the top right corner and follow the registration process.</p>"
      }
    ],
    "blocks": [
      {
        "type": "Accordion",
        "name": "Accordion",
        "settings": [
          {
            "type": "text",
            "id": "accordion_header_2",
            "label": "Accordion Header",
            "default": "Accordion Section 01"
          },
          {
            "type": "richtext",
            "id": "accordion_content_2",
            "label": "Accordion Header",
            "default": "<p>Accordion Section 01: Click the button in the top right corner and follow the registration process.</p>"
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "Accordion List",
        "blocks": [
          {
            "type": "Accordion"
          },
          {
            "type": "Accordion"
          },
          {
            "type": "Accordion"
          },
          {
            "type": "Accordion"
          }
        ]
      }
    ]

  }
{% endschema %}