<div class="w-11/12 mx-auto">
  <div class="grid grid-cols-4">
    <div>
      <div>
        {% if section.settings.image != blank %}
          {{ section.settings.image | image_url: width: 300 | image_tag }}

        {% else %}
          {{ "hero-apparel-1" | placeholder_svg_tag }}
        {% endif %}
      </div>
      <div>
        <h1>{{ section.settings.heading }}</h1>
        <p>{{ section.settings.sub_heading }}</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Multicolumn",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "TENCEL™"

      },
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub Heading",
        "default": "A soft, breathable fiber made from sustainably sourced wood pulp - cool to the touch and gentle on skin."

      }
    ],
    "blocks": [
      {
        "type": "Multi-block",
        "name": "MultiColBlock",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"

          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "TENCEL™"

          },
          {
            "type": "text",
            "id": "sub_heading",
            "label": "Sub Heading",
            "default": "A soft, breathable fiber made from sustainably sourced wood pulp - cool to the touch and gentle on skin."

          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Multicollumn",
        "blocks": [
          {
            "type": "Multi-block"
          },
          {
            "type": "Multi-block"
          },
          {
            "type": "Multi-block"
          }
        ]
      }


    ]
  }
{% endschema %}