/** Critical CSS for the theme. This file is included on every page. */

/* Reset styles inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */
* {
  box-sizing: border-box;
}

li.sub-menu {
    top: 12px;
}

marquee > span {
    padding-left: 4px;
    padding-right: 4px;
}

marquee > i{
  font-size: 15px;
  color: gray;
}

.hero_bottom_text h1 {
    line-height: 45px;
}

.collection-img svg {
    width: 100%;
    border-radius: 10px;
}

.collection-img img {
    width: 100%;
    border-radius: 10px;
}

.collection-image img, .collection-image svg {
    height: 450px;
    border-radius: 10px;
}

.collection-image svg {
    width: 100%;
}